<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MrpPluginData.Properties.Settings.MrpConnectionString"
            connectionString="Data Source=WANGSONG-PC;Initial Catalog=Mrp;Persist Security Info=True;User ID=sa;Password=wangsong"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>